[submodule "libcxx"]
	path = Zygisk/Zygisk-module-sample/module/jni/libcxx
	url = https://github.com/topjohnwu/libcxx.git
[submodule "Zygisk/Zygisk-module-sample/module/jni/libcxx"]
	path = Zygisk/Zygisk-module-sample/module/jni/libcxx
	url = https://github.com/topjohnwu/libcxx.git
